

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: #020617;
  color: #9CA3AF;
}


nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B1220;
    height: 70px;
    padding: 0 40px;
    border-radius:50px 50px 50px 50px ;
    margin: 10px 15px;
    box-shadow:3px 6px 1px ;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    padding:8px 14px;
    border-radius: 10px;
    color: #9CA3AF;
}

.navbar a:hover {
    background-color: #111827;
}

.right a {
    background-color: #3B82F6;
    color: #22D3EE;
}

.right a:hover {
    background-color: #2563EB;

}





.logo-icon {
    font-size: 22px;
}

.logo-text {
    font-size: 20px;
    font-weight: 900;
    color: #3B82F6;
    letter-spacing: 1px;
}

.login-body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-form {
    display: flex;
    background-color: #0B1220;
    width: 300px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap:10px;
    
}

.signup-label {
    align-self: flex-start;


}

.signup-input {
    height: 30px;
    width: 100%;
}

.signup-submit {
    width: 100%;
    padding:10px;
    background-color: #3B82F6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

.signup-submit:hover {

    background-color: #2563EB;

    
}







